<h2>lista</h2>
<hr/>
<app-contatos-listagem></app-contatos-listagem>


<div class="wrapper">
  <div class="product-img">
    <img src="\assets\bolsa-de-croche-fio-de-malha-preta-roma-croche.jpg" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>Rocambole</h1>
<br>
      <p>Bolsa produzida com linha número 5.<br> Fecho magnético, alça personalizavel (corrente ou crochê) <br>e fivelas de aco galvanizado.</p>
    </div>
    <div class="product-price-btn">
      <p><span>R$: 189</span>,80</p><br>
      <button type="button">Comprar</button>
    </div>
  </div>
</div>
