<hr size="30" width="85%">
<p>Copyright © 2023 Jefferson Stupp.</p>
<div class="icones">
  <a href="https://www.instagram.com/jefferson_stupp/"> <img src="https://img.freepik.com/vetores-gratis/instagram-icone-novo_1057-2227.jpg"/></a>
  <a href="https://www.facebook.com/jefferson.stupp.5"> <img src="https://icon-library.com/images/facebook-icon-50x50/facebook-icon-50x50-25.jpg"/></a>
  <a href="https://www.linkedin.com/in/jefferson-stupp"> <img src="https://icon-library.com/images/linkedin-small-icon/linkedin-small-icon-8.jpg"/></a>
  <a href="https://github.com/jeffersonStupp"> <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"/></a>






</div>



