<div class="container">


  <nav class="navbar navbar-expand-lg navbar-light bg-PRIMARY">
      <img class="img" src="assets\logoGB.png">
      <a class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto topnav">
              <li class="nav-item active">
                <a class="nav-link" href="">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Catalogo</a>
              </li>
              <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Entrar
                    </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="inpt">
                      <form class="formulario"(ngSubmit)="logar()">

                          <input type="text" class="sing" placeholder="Usuário" id="nickname"name="nickname" [(ngModel)]="nickname">

                          <input type="password" class="sing" placeholder="Senha" password="password" name="password" [(ngModel)]="password">
                          <div class="inpt">

                            <button type="submit" class="botao">ir</button>
                            <div class="dropdown-divider"></div>

                            <li class="link"><a href='./usuariocadastro.component.html'>Quero me cadastrar</a></li>

                          </div>
                        </form>


                      </div>


                    </div>
                  </li>


                  <li class="nav-item active">
                    <a class="nav-link" href="#">Contato</a>

                  </li>

              <!-- <div>
                  <form class="formulario"(ngSubmit)="logar()">

                      <input type="text" class="sing" placeholder="Usuário" id="nickname"name="nickname" [(ngModel)]="nickname">

                      <input type="password" class="sing" placeholder="Senha" password="password" name="password" [(ngModel)]="password">
                      <div class="inpt">

                          <button type="submit" class="botao">ir</button>
                          <li class="link">Quero me <br>cadastrar</li>

                      </div>
                  </form>


              </div> -->
          </ul>
      </div>





  </nav>
</div>
<hr size="30" width="85%">

