

  <div class="box">
    <div class="img-box">
          </div>
    <div class="form-box">
      <h2>Criar Conta</h2>
      <hr size="1">
      <form (ngSubmit)="AddUser()">
        <div class="input-group">
              <label for="nome"> Nome Completo</label>
              <input type="text" id="nome" placeholder="Digite o seu nome completo" required name="nome"  [(ngModel)]="nome">
          </div>

          <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="Digite o seu email" required name="email" [(ngModel)]="email">
          </div>
          <div class="input-group">
            <label for="telefone">Telefone</label>
             <input type="tel"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" id="telefone" placeholder="Digite o seu telefone" required name="telefone"  [(ngModel)]="telefone">
            </div>

            <div class="input-group">
              <label for="nome"> Usuário</label>
              <input type="text" id="nome" placeholder="Digite o usuario" required name="nickname" [(ngModel)]="nickname">
          </div>
            <div class="input-group w50">
              <label for="senha">Senha</label>
              <input type="password" id="senha" placeholder="Digite sua senha" required name="password" [(ngModel)]="password">
            </div>

            <div class="input-group w50">
              <label for="Confirmarsenha">Confirmar Senha</label>
              <input type="password" id="Confirmarsenha" placeholder="Confirme a senha" required name="confpass" [(ngModel)]="confpass">
            </div>

            <div class="input-group">
              <button type="submit">Cadastrar</button>
            </div>

          </form>
        </div>
      </div>


